body {
    font-family: 'Zilla Slab', serif;
}

.intro {
    background-image: url(../images/pizza1.jpg);
    background-size: auto;
    height: 90%;
    width: fit-content;
    padding-top: 0.55%;
    padding-bottom: 2.5%;
    color: white;
    font-size: large;
    text-align: center;
    
}

#intro{
    background-color: #FE8020;
    color: #FFFFFF;
    display:inline;
    white-space:pre-wrap;
    line-height : 24px;
    font-size: 18px;
    
}

#heading1 {
    color: gold;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    font-size: 300%;
}

.sub-headings {
    text-align: center;
    color: gold;
    font-family: 'Dancing Script', cursive;
    font-size: 200%;
}

.pizzaType {
    background-color: firebrick;
    color: floralwhite;   
}

.pizzaSize {
    background-color: saddlebrown;
    color: floralwhite;   
}

.pizzaCrust {
    background-color: seagreen;
    color: floralwhite;

}

.pizzaToppings {
    background-color: orangered;
    color: floralwhite;

}

#submit {
    text-align: center;
    margin: auto;
    width: auto;
  
}

.checkout {
    color: floralwhite;
    height: 100%;
    padding-bottom: 9%;

}

#summaryHeading {
    color: maroon;
    font-family: 'Zilla Slab', serif;
    font-size: 150%;
}

.summaryPic {
    background-image: url() ;
    background-color: lightsteelblue;
    background-size: auto;
    height: 90%;
    width: fit-content;
    padding-top: 0.5%;
    padding-bottom: 5%;
    color: white;
    font-size: large;
    

}

.buttonRow {
    background-color: paleturquoise;
}

#remoteLocation {
    display: none;
}

#deliveryForm {
    color: maroon;
    font-family: 'Zilla Slab', serif;
    font-size: 150%;
}

#remoteThankYou {
    color: maroon;
    font-family: 'Lobster', cursive;
    font-size: 120%;
    padding-top: 2%;

}

.pizzaOrder {
    color: maroon;
    font-family: 'Lobster', cursive;
    font-size: 120%;
    padding-top: 2%;

}

