body {
    font-family: 'Zilla Slab', serif;
}

.intro {
    background-image: url(../images/pizza1.jpg);
    background-size: auto;
    height: 90%;
    width: fit-content;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color: white;
    font-size: large;
    text-align: center;
    
}

#heading1 {
    color: gold;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    font-size: 300%;
}

.sub-headings {
    text-align: center;
    color: gold;
    font-family: 'Dancing Script', cursive;
    font-size: 200%;
}

.pizzaType {
    background-color: firebrick;
    color: floralwhite;   
}

.pizzaSize {
    background-color: saddlebrown;
    color: floralwhite;   
}

.pizzaCrust {
    background-color: seagreen;
    color: floralwhite;

}

.pizzaToppings {
    background-color: orangered;
    color: floralwhite;

}

#submit {
    text-align: center;
    margin: auto;
    width: auto;
  
}

.checkout {
    color: floralwhite;
    height: 100%;
    padding-bottom: 9%;

}

#summaryHeading {
    font-family: 'Zilla Slab', serif;
    color: red;
    text-align: center;
    font-size: 200%;
}

.summaryPic {
    background-image: url(../images/pizza2.jpg) ;
    background-size: auto;
    height: 90%;
    width: fit-content;
    padding-top: 0.5%;
    padding-bottom: 5%;
    color: white;
    font-size: large;
    text-align: center;

}

.buttonRow {
    background-color: paleturquoise;
}